.app_nav {
  width: 100%;
}

.app_divide {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}
.app_header {
  display: flex;
  justify-content: space-evenly;
}
.app_dropdown {
  padding: 50px;
}
.app_stats {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.body {
  background-color: lightblue;
}
.app_left {
  flex: 0.8;
}
.App {
  overflow-x: hidden;
  background-color: lightblue;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
